<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div> post page !!</div>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>작성자</th>
                <th>제목</th>
                <th>내용</th>
                <th>작성 일시</th>
                <th>수정 일시</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td th:text="${post.id}"></td>
                <td th:text="${post.member.username}"></td>
                <td th:text="${post.title}"></td>
                <td th:text="${post.content}"></td>
                <td>
                    <a href="#"
                       th:href="'javascript:cancel('+${post.id}+')'"
                       class="btn btn-danger">삭제</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
<script>
    function cancel(id) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/posts/" + id + "/delete");
        document.body.appendChild(form);
        form.submit();
    }
</script>
</body>
</html>