<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div th:utext="'글 제목 : ' + ${post.title}"></div>
    <div th:utext="'작성자 : ' + ${post.member.username}"></div>
    <div th:utext="'내용 : ' + ${post.content}"></div>

    <table>
        <thead>
        <tr>
            <th>댓글</th>
            <th>작성자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment : ${comments}">
            <td th:text="${comment.content}"></td>
            <td th:text="${comment.member.username}"></td>
        </tr>
        </tbody>
    </table>


    <form th:object="${commentForm}" class="form-inline" method="post">
        <div class="form-group">
            <select name="memberId" id="member" class="form-control">
                <option value="">회원선택</option>
                <option th:each="member : ${members}"
                        th:value="${member.id}"
                        th:text="${member.username}" />
            </select>
        </div>

        <div class="form-group">
            <input type="text" th:field="*{content}" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-primary mb-2">댓글 달기</button>
    </form>
</div>
<script>
</script>
</body>
</html>
<!--th:action="@{/posts/post/{post_id}(post_id = ${post.id})}-->