<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div th:utext="'글 제목 : ' + ${post.title}"></div>
    <div th:utext="'작성자 : ' + ${post.member.username}"></div>
    <div th:utext="'내용 : ' + ${post.content}"></div>

    <form th:action="@{/posts/post/{post_id}(post_id = ${post.id})}" th:object="${commentForm}" class="form-inline" method="post">
        <div class="form-group">
            <input type="text" th:field="*{content}" class="form-control"/>
<!--                   th:class="${#fields.hasErrors('content')}? 'form-control fieldError' : 'form-control'">-->
<!--            <p th:if="${#fields.hasErrors('content')}"-->
<!--               th:errors="*{content}">Incorrect date</p>-->
        </div>
        <button type="submit" class="btn btn-primary mb-2">댓글 달기</button>
    </form>
</div>
<script>
</script>
</body>
</html>