<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>게시판</h1>
        <p class="lead">회원 기능</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/members/new">회원 가입</a>
            <a class="btn btn-lg btn-secondary" href="/members">회원 목록</a>
        </p>
        <p class="lead">글 기능</p>
        <p>
            <a class="btn btn-lg btn-dark" href="/posts/new">글 쓰기</a>
            <a class="btn btn-lg btn-dark" href="/posts">글 목록</a>
        </p>
        <p class="lead">카테고리 기능</p>
        <p>
            <a class="btn btn-lg btn-info" href="/categorys">카테고리</a>
        </p>
    </div>
</div> <!-- /container -->
</body>
</html>